:root {
    --blue:#39729B;
    --white:#EDEDED;
    --black:#000;
    --bright-green:#4BD1A0;
    --dark-green:#5A7972;
    --red: #FF6161;
    --grey: #5C697B;
    --purple: #615D7B;
    --sky-blue: #6EA4CA;
}
